<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2025 Broadcom. All Rights Reserved.
The term "Broadcom" refers to Broadcom Inc. and/or its subsidiaries.

SPDX-License-Identifier: Apache-2.0 -->

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>custom-repos</id>
            <repositories>
                <repository>
                    <id>local-dependency-mirror</id>
                    <url>file://${sdk.repo}</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>custom-repos</activeProfile>
    </activeProfiles>

</settings>